AddDefaultCharset UTF-8
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

RewriteRule goto/(.*) /goto.php [L]

RewriteRule (.*).(inc|sql|htaccess)$ - [R=404,L]

RewriteCond %{HTTP_HOST} ^fantasy.d2.ru(.*) [NC]
RewriteRule ^(.*)$ http://palantir.in%1/$1 [R=301,NC,L]

RewriteCond %{HTTP_HOST} ^www.fantasy.d2.ru(.*) [NC]
RewriteRule ^(.*)$ http://palantir.in%1/$1 [R=301,NC,L]


RewriteRule ^pages/(.*)  http://palantir.in/404.html [R=301,L]
RewriteRule ^4admin/(.*)  http://palantir.in/404.html [R=301,L]
RewriteRule ^4user/(.*)  http://palantir.in/404.html [R=301,L]
RewriteRule ^scripts/(.*)  http://palantir.in/404.html [R=301,L]
RewriteRule (.*).inc(.*)  http://palantir.in/404.html [R=301,L]




RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]


ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html